fastapi
uvicorn
groq
openai-whisper
faster-whisper
transformers
torch
torchaudio
sentence-transformers
librosa
soundfile
PyMuPDF
python-multipart
numpy
scikit-learn
accelerate
sentencepiece
huggingface-hub
pyarrow
